cortexutils
shodan
censys
diskcache
cybercrimetracker
python-magic
ssdeep
pyexifinfo
pefile
git+https://github.com/AnyMaster/pehashng
git+https://github.com/Rafiot/pdfid.git
oletools>=0.52
extract-msg
IMAPClient
certifi>=2023.7.22 # not directly required, pinned by Snyk to avoid a vulnerability
cryptography>=42.0.2 # not directly required, pinned by Snyk to avoid a vulnerability
requests>=2.31.0 # not directly required, pinned by Snyk to avoid a vulnerability
